@model Eventi.Web.Areas.Guest.Models.RegistrationVM

@{
    ViewData["Title"] = "RegistracijaForma";
}
<style>
    #poruka{
        margin-top:1%;
       
    }
    form{
        margin-top:1%;
    }
   
</style>
<div class="alert alert-info alert-dismissible" id="poruka">
    Da bi ste imali mogućnost kupovine karte morate postati registrovani korisnik ove stranice. <br />
    Registrovati se mogu samo državljani država ponuđenih u izborniku.
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
<form asp-area="Guest" asp-controller="Guest" asp-action="Register">
    <div class="form-group">
        <label for="ime">Ime</label>
        <input asp-for="FirstName" type="text" class="form-control" id="ime" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="prezime">Prezime</label>
        <input asp-for="LastName" type="text" class="form-control" id="prezime" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="telefon">Telefon</label>
        <input asp-for="PhoneNumber" type="text" class="form-control" id="telefon" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Countries">Country</label>
        <select asp-for="CountryID" asp-items="Model.Countries" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="Cities">City</label>
        <select asp-for="CityID" asp-items="Model.Cities" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="adresa">Adresa</label>
        <input asp-for="Address" type="text" class="form-control" id="adresa" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input asp-for="Email" type="text" class="form-control" id="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input asp-for="Username" type="text" class="form-control" id="username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="brojKredKartice">Broj računa (kartice)</label>
        <input asp-for="CreditCardNumber" class="form-control" id="brojKredKartice" />
        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
    </div>
    <input type="submit" value="Confirm" class="btn btn-success" /> 
</form>




