@model Eventi.Web.Areas.Administrator.Models.AdministratorVM

<link href="~/css/admin-profil.css" rel="stylesheet" />

<div id="AdminDiv">
    <h4>@Model.Ime @Model.Prezime</h4>
    <hr />
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" readonly />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" readonly />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" readonly />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<div class="col-md-4">
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Nazad</a>
    <a class="btn btn-secondary" asp-controller="Administrator" asp-action="Uredi" asp-route-id="@Model.Id">Uredi</a>
    <a class="btn btn-secondary" asp-area="Administrator" asp-controller="Administrator" asp-action="PromijeniPassword" asp-route-id="@Model.Id">Promijeni password</a>
</div>
