@model Eventi.Web.Areas.Administrator.Models.AdministratorVM

<link href="~/css/admin-profil.css" rel="stylesheet" />

<div id="AdminDiv">
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" readonly />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" readonly />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<div class="col-md-4">
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back</a>
    <a class="btn btn-secondary" asp-controller="Administrator" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a class="btn btn-secondary" asp-area="Administrator" asp-controller="Administrator" asp-action="ChangePassword" asp-route-id="@Model.ID">Change Password</a>
</div>
