
@{
   // ViewData["Title"] = "LikeEvent";
    int eId = (int)ViewData["eId"];
    int korId = (int)ViewData["kId"];
}

<a class="tdLink" href="/ModulKorisnik/Korisnik/DisLikeEvent?eId=@eId&korId=@korId" ajax-poziv="dislike"
   ajax-rezultat="likeTd">Dislike</a>

