@model Event_Attender.Web.Areas.Administrator.Models.SponzorDisplayVM
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<div id="Admin-Searchbar">
    <input type="text" name="search" value="" />
    <button>
        @Html.ActionLink("Dodaj", "Edit", new { /* id = model.OnDisplay.PrimaryKey */ })
    </button>
    <table>
        <tbody>
            @foreach (var item in Model.Sponzori)
            {
                <tr>
                    <td>
                        <a asp-area="Administrator" asp-controller="Searchbar"
                           asp-action="_SponzorInfo" asp-route-id="@item.Id">
                            @item.Naziv
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>