@using Event_Attender.Data.Models
@{
    ViewData["Title"] = "Index";
    List<Izvodjac> Izvodjaci = (List<Izvodjac>)ViewData["Izvodjaci"];
    Layout = "_Layout";
}

<link href="~/css/admin-sidebar.css" rel="stylesheet" />

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminSidebar");}
    <div id="Admin-Searchbar">
        <input type="text" name="search" value="" />
        <table>
            <tbody>
                @foreach (Izvodjac i in Izvodjaci)
                {
                    <tr>
                        <td>@i.Naziv</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="Main-Display">

    </div>
</div>