@model Event_Attender.Web.Areas.Administrator.Models.DrzavaDisplayVM
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/admin-sidebar.css" rel="stylesheet" />

@{await Html.RenderPartialAsync("_AdminSidebar");}
<div id="Admin-Searchbar">
    <input type="text" name="search" value="" />
    <button>
        @Html.ActionLink("Dodaj", "Edit", new { /* id = model.OnDisplay.PrimaryKey */ })
    </button>
    <table>
        <tbody>
            @foreach (var item in Model.Drzave)
            {
                <tr>
                    <td>
                        <a asp-area="Administrator" asp-controller="Searchbar"
                           asp-action="_DrzavaInfo" asp-route-id="@item.Id">
                            @item.Naziv
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
