
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Event_Attender.Data.Models.Drzava

<div class="Info">
    <label>Naziv</label>
    <input type="text" name="naziv" value="model.Naziv" />  <br />
</div>
<div class="Actions">
    <button type="button">Uredi</button>
    <button type="button">Ukloni</button>
    @*<button type="button">Sačuvaj</button>*@
</div>