@{
}


    
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Linkovi</th>
                <td>
                    <a href="Sponzor/SponzorGetAll">Lista sponzora</a><br />
                </td>
                <td>
                    <a href="Sponzor/SponzorAddForm">Forma za dodavanje sponzora</a>
                </td>
            </tr>
        </tbody>
    </table>