@using Event_Attender.Web.ViewModels
@{
    Layout = null;
    var sponzori = (List<SponzorVM>)ViewData["sponzorKljuc"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <table>

        <tr>
            <td>Naziv</td>
            <td>Telefon</td>
            <td>Email</td>
        </tr>
        @foreach (SponzorVM i in sponzori)
        {
            <tr>
                <td>@i.Naziv</td>
                <td>@i.Telefon</td>
                <td>@i.Email</td>
            </tr>
        }
    </table>

    <a href="SponzorAddForm"><button>Dodaj novog sponzora</button></a>


</body>
</html>
