@using Event_Attender.Web.ViewModels
@{
    var sponzori = (List<SponzorVM>)ViewData["sponzorKljuc"];
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Telefon</th>
            <th scope="col">Email</th>
            <th scope="col">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SponzorVM i in sponzori)
        {
            <tr>
                <td>@i.Naziv</td>
                <td>@i.Telefon</td>
                <td>@i.Email</td>
                <td>
                <a href ="DeleteSponzor?idSponzor=@i.SponzorID">Obrisi</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<a href="SponzorAddForm">Dodaj novog sponzora</a>


