
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <form action="/Sponzor/AddSponzor" method="post" class="formaSponzor">
            Naziv:<br>
            <input type="text" name="_naziv"><br><br>

            Telefon:<br>
            <input type="text" name="_telefon"><br><br>

            Email:<br>
            <input type="text" name="_email"><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>

