
        <form action="/Sponzor/AddSponzor" method="post" class="formaSponzor">
            Naziv:<br>
            <input type="text" name="_naziv" required><br><br>

            Telefon:<br>
            <input type="text" name="_telefon" required><br><br>

            Email:<br>
            <input type="text" name="_email" required><br><br>

            <input type="submit" value="Submit">
        </form>


