@model Eventi.Web.Areas.Administrator.Models.AdministratorVM

    <div id="Admin-Sidebar" class="bg-dark navbar-dark">
        <div role="button" class="ea-navbar-home">Home</div>
        <div role="button" class="ea-navbar" id="Event">Event</div>
        <div role="button" class="ea-navbar" id="Organizer">Organizer</div>
        <div role="button" class="ea-navbar" id="Client">Client</div>
        <div role="button" class="ea-navbar" id="Performer">Performer</div>
        <div role="button" class="ea-navbar" id="Venue">Venue</div>
        <div role="button" class="ea-navbar" id="Sponsor">Sponsor</div>
        <div role="button" class="ea-navbar" id="Grad">Grad</div>
        <div role="button" class="ea-navbar" id="Drzava">Država</div>
    </div>
