@model Event_Attender.Web.Areas.ModulRadnik.Models.DodajSponzorFormVM
@{
    ViewData["Title"] = "DodajSponzora";
}

<h1>Dodaj Sponzora</h1>

<div class="row">
    <form method="post">
        Naziv:<br>
        <input style="width:300px" type="text" asp-for="NazivSponzora" required><br><br>

        Telefon:<br>
        <input style="width:300px" type="text" asp-for="TelefonSponzora" required placeholder="0xx-xxx-xxx ili 0x0-xxx-xxxx"><br><br>

        Email:<br>
        <input style="width:300px" type="text" asp-for="EmailSponzora" required placeholder="xxx.xxx@outlook.com"><br><br>

        <input type="submit" value="Submit">
    </form>
</div>