@model Event_Attender.Web.Areas.ModulRadnik.Models.PregledSponzoraVM
@{
    ViewData["Title"] = "PregledSponzora";
}

<h1>Pregled Sponzora</h1>

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Naziv</td>
        <td>Email</td>
        <td>Telefon</td>
    </tr>
    @foreach(var item in Model.Redovi)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.NazivSponzora</td>
    <td>@item.EmailSponzora</td>
    <td>@item.TelefonSponzora</td>
</tr>
    }
</table>>

