html 
{
    height: 100%;
}

body 
{
    /*height: 100%;*/
    height: 100vw;
}

main
{
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-areas: "Sidebar Main";
}

#Admin-Container 
{
    display: flex;
}

#Admin-Sidebar 
{
    padding: 50px 20px 170px 20px;
    color: white;
    font-size: 20px;
    width: 20%;
    grid-area: Sidebar;
}


div[role="button"] 
{
    cursor: pointer;
}

div[role="button"]:hover 
{
    background-color: #d3cbcb;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    text-decoration: none;
}

button[for="Ukloni"], button[for="Uredi"], button[for="Info"]
{
    width: 33%;
}

td#Action-Buttons 
{
    display: flex;
}


#Main-Display 
{
    width: 80%;
    margin: 20px 50px 70px 50px;
    grid-area: Main;
}

#Main-Display form
{
    display: flex;
    flex-direction: column;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

footer
{
    position: initial;
}

