main
{
    display: flex;
}

#Admin-Container
{
    display: contents;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    text-decoration: none;
}

#Admin-Sidebar
{
  
    width: 20%;
}

#Admin-Searchbar
{
    width: 20%;
}

#Admin-Searchbar tbody tr td:hover
{
    background: #808080;
    text-decoration: none;
}

#Main-Display
{
    width: 60%;
}

#Main-Display form
{
    display: flex;
    flex-direction: column;
}


