/* Chat containers */
.chat-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Clear floats */
.chat-container::after {
    content: "";
    clear: both;
    display: table;
}

span.timestamp {
    float: right;
}

#messages-container {
    top: 0;
    bottom: 0;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}