
@{
    ViewData["Title"] = "NemKupovina";
}

 <div class="alert alert-danger alert-dismissible">
       <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       <strong>Nije moguce obaviti kupovinu karte.</strong>
       Kliknite na ime eventa kako bi se vratili nazad
 </div>
 

