
@{
    ViewData["Title"] = "UserPodaci2";
}

<div id="ajaxUcitaj">

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/KorisnikAjaxSkripta.js"></script>
    <script>

        $(document).ready(function () {
            $.get("/ModulKorisnik/Korisnik/UserPodaci?drzavaId=", function (data, success) {
                $("#ajaxUcitaj").html(data);
            })
        });

</script>