@using Event_Attender.Data.Models
@{
    ViewData["Title"] = "Index";
    List<Drzava> drzave = (List<Drzava>)ViewData["drzave"];
}

<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Drzava d in drzave)
        {
            <tr>
                <td>@d.Naziv</td>
                <td><a href="/Drzava/Obrisi?id=@d.Id">Obrisi</a>
                <a href="/Drzava/Uredi?id=@d.Id">Uredi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Drzava/DodajForma">Dodaj novu drzavu</a>

