@model Event_Attender.Web.Areas.Administrator.Models.DodajRadnikEventVM

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SnimiRadnikEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="EventId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="EventNaziv" class="control-label">Naziv eventa</label>
                <input asp-for="EventNaziv" class="form-control" />
                <span asp-validation-for="EventNaziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vrijeme" class="control-label"></label>
                <input asp-for="Vrijeme" class="form-control" />
                <span asp-validation-for="Vrijeme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProstorOdrzavanja" class="control-label">Prostor održavanja</label>
                <input asp-for="ProstorOdrzavanja" class="form-control" />
                <span asp-validation-for="ProstorOdrzavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadnikId" class="control-label">Radnik</label>
                <select asp-for="RadnikId" asp-items="@Model.Radnici" class="form-control"></select>
                <span asp-validation-for="RadnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

