
@{
    string error = (String)TempData["error_poruka"];
    Layout = "~/Views/Shared/_LayoutPrijava.cshtml";  
}

@model Event_Attender.Web.ViewModels.LoginVM

<style>
    form{
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
    .btn-dark{
        width:100%;
    }
</style>
    <form action="/Prijava/LogIn">
        <label>Username: </label>
        <input class="form-control" asp-for="username" name="username" type="text" size="20" />
        <span asp-validation-for="username" class="text-danger"></span>
        <br />
        <label>Password: </label>
        <input class="form-control" asp-for="password" name="password" type="password" size="20" />
        <span asp-validation-for="password" class="text-danger"></span>
        <br />
        <input class="btn btn-dark" type="submit" value="Prijava" />
    </form>
@if(error != null)
{
<div class="alert alert-danger alert-dismissible">
    @error
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
}
