@model Event_Attender.Web.Areas.Administrator.Models.AdministratorVM
@{ 
    Layout = "_Layout";
}
<link href="~/css/admin-profil.css" rel="stylesheet" />

<div>
    <div class="col-md-4">
        <form asp-action="SnimiPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" value="@Model.Id" hidden />
            <input asp-for="LogPodaciId" value="@Model.LogPodaciId" hidden />
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Stari password</label>
                <input asp-for="OldPassword" value="" class="form-control" type="password"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Novi password</label>
                <input asp-for="NewPassword" class="form-control" type="password"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirmed" class="control-label">Potvrdite novi password</label>
                <input asp-for="NewPasswordConfirmed" class="form-control" type="password"/>
                <span asp-validation-for="NewPasswordConfirmed" class="text-danger"></span>
            </div>
            <div>
                <input class="btn btn-secondary" type="submit" value="Snimi" />
            </div>
        </form>
    </div>
</div>
@*<div class="col-md-4">
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Nazad</a>
        <a class="btn btn-secondary" asp-controller="Administrator" asp-action="Uredi" asp-route-id="@Model.Id">Uredi</a>
        <a class="btn btn-secondary" asp-controller="Administrator" asp-action="PromijeniPassword" asp-route-id="@Model.Id">Promijeni password</a>
    </div>*@
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
