
@{
   // ViewData["Title"] = "DisLikeEvent";
    int eId= (int)ViewData["eId"];
    int kId= (int)ViewData["kId"];
}

@model Eventi.Web.Areas.ModulKorisnik.Models.EventKorisnikVM

<a class="tdLink" href="/ModulKorisnik/Korisnik/LikeEvent?eId=@eId&korId=@kId"
   ajax-poziv="like" ajax-rezultat="likeTd">Like</a>


