<style>
    div[role="button"]
    {
        cursor: pointer;
    }
    div[role="button"]:hover
    {
        background-color: #d3cbcb;
    }
</style>

<div id="Admin-Sidebar">
    <div><a asp-area="Administrator" asp-controller="Home" asp-action="Index">Home</a></div>
    <div role="button" class="searchbar" id="_AdminEventDisplay">Event</div>
    <div role="button" class="searchbar" id="_AdminOrganizatorDisplay">Organizator</div>
    <div role="button" class="searchbar" id="_AdminKorisnikDisplay">Korisnik</div>
    <div role="button" class="searchbar" id="_AdminRadnikDisplay">Radnik</div>
    <div role="button" class="searchbar" id="_AdminIzvodjacDisplay">Izvođač</div>
    <div role="button" class="searchbar" id="_AdminProstorDisplay">Prostor</div>
    <div role="button" class="searchbar" id="_AdminSponzorDisplay">Sponzor</div>
    <div role="button" class="searchbar" id="_AdminGradDisplay">Grad</div>
    <div role="button" class="searchbar" id="_AdminDrzavaDisplay">Država</div>
</div>
