 

<div id="Admin-Sidebar">
    <div><a asp-area="Administrator" asp-controller="Home" asp-action="Index">Home</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminEventDisplay">Event</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminOrganizatorDisplay">Organizator</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminKorisnikDisplay">Korisnik</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminRadnikDisplay">Radnik</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminIzvodjacDisplay">Izvođač</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminProstorDisplay">Prostor</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminSponzorDisplay">Sponzor</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminGradDisplay">Grad</a></div>
    <div><a asp-area="Administrator" asp-controller="Searchbar" asp-action="_AdminDrzavaDisplay">Država</a></div>
</div>
