@{
    ViewData["Title"] = "Index";
}

<!-- Bootstrap core CSS -->
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
<!-- Your custom styles (optional) -->
<link href="~/css/admin-panel.css" rel="stylesheet" />
<!-- MDBootstrap Datatables  -->
<link href="~/lib/mdb/css/addons/datatables.min.css" rel="stylesheet" />

<div id="Admin-Container">
    @{await Html.RenderPartialAsync("_AdminSidebar");}
    <div id="Main-Display"></div>
</div>



<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/lib/mdb/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="~/lib/mdb/js/addons/datatables.min.js"></script>
<!-- DataTables Select CSS -->
<link href="~/lib/mdb/css/addons/datatables-select.min.css" rel="stylesheet" />
<!-- DataTables Select CSS -->
<script type="text/javascript" src="~/lib/mdb/js/addons/datatables-select.min.js"></script>


<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/admin-panel.js"></script>
