
@{
    ViewData["Title"] = "Index";
}

@*// Ovdje ce se pozivati akcija koja vraca Json
    // onda ce se dodavati eventi u tabelu*@

<a href="/ModulRadnik/Radnik/ExportToExcel" class="btn btn-success">Exportuj u excel</a>
<a class="btn btn-primary" asp-controller="Radnik" asp-action="DodajSponzora">Dodaj sponzora</a>
<a class="btn btn-primary" asp-controller="Radnik" asp-action="PregledSponzora">Pregled sponzora</a>
<a class="btn btn-primary" asp-controller="Radnik" asp-action="DodajProstorOdrzavanja">Dodaj prostor odrzavanja</a>
<a class="btn btn-primary" asp-controller="Radnik" asp-action="PregledProstoraOdrzavanja">Pregled prostora odrzavanja</a>


<br />
<br />
<table id="tabela" class="table table-bordered">
    <thead>
        <tr>
            <th>Naziv eventa</th>
            <th>Datum održavanja</th>
            <th>Vrijeme</th>
            <th>Grad</th>
            <th>Prostor održavanja - Adresa</th>
            <th>Ukupno zarada od eventa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    function EventVM(event) {
        this.RadnikId = event.RadnikId;
        this.EventId = event.EventId;
        this.RadnikEventId = event.RadnikEventId;
        this.NazivEventa = event.NazivEventa;
        this.DatumOdrzavanja = event.DatumOdrzavanja;
        this.Vrijeme = event.Vrijeme;
        this.Grad = event.Grad;
        this.ProstorOdrzavanjaIAdresa = event.ProstorOdrzavanjaIAdresa;
        this.UkupnoZaradaOdEventa = event.UkupnoZaradaOdEventa;
    }
    function DodajEventeUTabelu(eventi) {
        document.querySelector("#tabela tbody").innerHTML = "";
        for (var i = 0; i < eventi.length; i++) {
            var ev = new EventVM(eventi[i]);

            var tr = document.createElement('tr');
            tr.setAttribute("id", ev.EventId);
            document.querySelector("#tabela tbody").appendChild(tr);

            var td1 = document.createElement('td');
            var td2 = document.createElement('td');
            var td3 = document.createElement('td');
            var td4 = document.createElement('td');
            var td5 = document.createElement('td');
            var td6 = document.createElement('td');
            var td7 = document.createElement('td');
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            tr.appendChild(td5);
            tr.appendChild(td6);
            tr.appendChild(td7);

            td1.innerText = ev.NazivEventa;
            td2.innerText = ev.DatumOdrzavanja;
            td3.innerText = ev.Vrijeme;
            td4.innerText = ev.Grad;
            td5.innerText = ev.ProstorOdrzavanjaIAdresa;
            td6.innerText = ev.UkupnoZaradaOdEventa;

            var a = document.createElement('a');
            a.setAttribute("href", "/ModulRadnik/Radnik/Detalji?id=" + ev.EventId);
            a.setAttribute("class", "btn btn-success");
            a.innerText = "Detalji";
            td7.appendChild(a);

        }
    }

    function GetAllEventi() {
        //var adresaServera = 'http://localhost:59867';
        //var mojUrl = adresaServera + '/ModulRadnik/Radnik/GetProizvodi';
        var mojUrl = '/ModulRadnik/Radnik/GetProizvodi';

        var zahtjev = new XMLHttpRequest();

        zahtjev.onload = function () {
            if (zahtjev.status === 200) {
                var eventi = JSON.parse(zahtjev.responseText);
                DodajEventeUTabelu(eventi);
                alert("Podaci se učitavaju");
            }
            else {
                alert("Server javlja grešku " + zahtjev.statusText);
            }
        };
        zahtjev.open("GET", mojUrl, true);
        zahtjev.setRequestHeader("Content-Type", "application/json");
        zahtjev.send();
    }

    $(document).ready(function () {
        GetAllEventi();
    });
</script>