
@{
    string error = (String)TempData["error_poruka"];
}
@model Event_Attender.Web.ViewModels.LoginVM
<form action="/Prijava/LogIn">
    <label>Username: </label>
    <input class="form-control" name="username" type="text" size="20"/>
    <br/>
    <label>Password: </label>
    <input class="form-control" name="password" type="password"size="20" />
    <br />
    <input class="btn btn-dark" type="submit"  value="Prijava"/>
</form>
@if(error != null)
{
<div class="alert alert-danger alert-dismissible">
    @error
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
}
